body {
  margin: 0;
  background: #000;
  color: #ff2fa3;

  display: flex;
  justify-content: safe center;
  align-items: center;
  min-height: 100vh;

  font-family: monospace;
  overflow-x: auto;
}

.container {
  text-align: center;
}

pre {
  white-space: pre;
  line-height: 1;
  font-size: clamp(4px, 1.5vw, 10px);
  text-shadow: 0 0 12px #F32B99;
}

/* Blinking cursor */
.cursor {
  display: inline-block;
  margin-top: 5px;
  font-size: 12px;
  text-shadow: 0 0 12px #ff2fa3;
  animation: blink 1s infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
